.invitation {
    &__content {
        .text {
            font-family: "Merriweather-Regular", sans-serif;
            font-weight: 400;
            font-size: 36px;
            line-height: 1.35;
            color: $main-text;
            text-transform: uppercase;

            .accent {
                font-family: "Merriweather-Bold";
                font-weight: 700;
                color: $primary-accent;
            }
        }
        
        .line-1 {
            display: flex;
            gap: 64px;
            align-items: center;
            padding-top: 80px;
            
            .invitation_pic1_1 {
                content: url("/img/invitation_pic1.png");
                width: 335px;
                margin: 24px 0;
                display: none;
            }

            .invitation_pic1_2 {
                content: url("/img/invitation_pic1.png");
                width: 394px;
            }
        } 

        .line-2 {
            display: flex;
            align-items: flex-start;
            gap: 17px;
            padding-top: 65px;
            
            .invitation_pic2 {
                margin-top: -28px;
                margin-left: -28px;
                position: relative;
                flex: 1 0 530px;
                line-height: 0;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: url('/img/invitation_pic2_pattern.png') no-repeat center / contain;
                    mix-blend-mode: color-burn;
                }

                img {
                    width: 100%;
                }
            }

            .table {
                margin-top: 58px;

                .row {
                    display: flex;

                    &:not(:last-child){
                        border-bottom: 2px solid $table-border;
                    }
                    
                    &:first-child {
                        .cell {
                            padding-top: 0;
                        }
                    }

                    &:last-child {
                        .cell {
                            padding-bottom: 0;
                        }
                    }

                    .cell {
                        padding: 16px 16px 15px 0;
                        font-size: 20px;
                        line-height: 1.2;
                        color: $main-text;

                        &:first-child {
                            flex-basis: 307px;
                            border-right: 2px solid $table-border;
                            font-family: "GolosText-Regular", sans-serif;
                            font-weight: 400;
                            opacity: .7;
                        }

                        &:last-child {
                            padding-left: 15px;
                            font-family: "GolosText-Bold", sans-serif;
                            font-weight: 700;  
                        }

                        .through {
                            text-decoration: line-through;
                            text-decoration-color: $primary-accent;
                        }
                    }
                }
            }

            .contact {
                margin: 47px 0 0;
                font-family: 'GolosText-Regular', sans-serif;
                font-weight: 400;
                font-size: 20px;
                line-height: 1.2;
                color: $secondary-accent;
            }
        }
    }

    @media (max-width: $lg) {
        .invitation__content {

            .text {
                font-size: 28px;
            }

            .line-1 {
                gap: 20px;

                .invitation_pic1_2 {
                    width: 335px;
                }
            }
        }
    }

    @media (max-width: $md) {
        .invitation__content {
            .line-1 {
                padding-top: 50px;

                .lecture {
                    display: flex;
                    flex-direction: column;
                }

                .invitation_pic1_1 {
                    display: block;
                    align-self: center;
                }  

                .invitation_pic1_2 {
                    display: none;
                }    
            }
        }
    }
}