// colors
$main-text: #313131;
$main-btns: #1F1F1F;
$hover-accent: #FBCE51;
$primary-accent: #F54932;
$secondary-accent: #3057A2;
$table-border: #D0D0D0;
$inactive-color: #D0D0D0;

//breakpoints
$xl: 1280px;
$lg: 1024px;
$md: 768px;
$sm: 640px;
$xs: 425px;
$xxs: 376px;
