@charset "UTF-8";
@import 'normalize.css';
.intro {
  padding: 124px 0 130px;
  background: url("/img/intro.png") no-repeat center/cover;
}
.intro__content h1 {
  margin: 0 0 24px;
  max-width: 542px;
  font-family: "Merriweather-Regular", serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 1.1;
  color: #313131;
  text-transform: uppercase;
}
.intro__content h1 span {
  display: block;
  text-align: center;
}
.intro__content h1 span:first-child {
  text-decoration: underline;
  text-decoration-thickness: 5%;
  text-underline-offset: 8%;
}
.intro__content h1 span:last-child {
  text-align: right;
}
.intro__content .text {
  margin: 0;
  display: inline-block;
  max-width: 542px;
  font-family: "GolosText-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #313131;
  text-align: center;
}
.intro__content .buttons {
  max-width: 542px;
  margin-top: 40px;
  display: flex;
  gap: 16px;
}
.intro__content .buttons .button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 13px 49px;
  text-align: center;
  border: 2px solid #1F1F1F;
  border-radius: 66px;
  font-family: "GolosText-Medium";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  transition: all 0.3s ease-in-out;
}
.intro__content .buttons .button.invitation {
  background: #1F1F1F;
  color: #ffffff;
}
.intro__content .buttons .button.invitation:hover {
  background: #FBCE51;
  border-color: #FBCE51;
  color: #1F1F1F;
}
.intro__content .buttons .button.about {
  color: #1F1F1F;
}
.intro__content .buttons .button.about:hover {
  background: #1F1F1F;
  border-color: #1F1F1F;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .intro .buttons .button.about {
    background: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
  }
}
@media (max-width: 768px) {
  .intro .intro__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intro .intro__content .buttons {
    max-width: none;
    align-self: stretch;
  }
}
@media (max-width: 640px) {
  .intro {
    padding: 90px 0 291px;
    background: url("/img/intro_sm.png") no-repeat right bottom/cover;
  }
  .intro .intro__content h1 {
    max-width: 335px;
    font-size: 36px;
  }
  .intro .intro__content h1 span {
    text-decoration: none;
  }
  .intro .intro__content .buttons {
    flex-direction: column;
    margin-top: 32px;
  }
  .intro .intro__content .buttons .button {
    padding: 11px 41px;
  }
}
@media (max-width: 425px) {
  .intro .intro__content .text {
    max-width: none;
    text-align: left;
  }
}

.invitation {
  padding: 80px 0px 100px;
}
.invitation__content .text {
  font-family: "Merriweather-Regular", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.35;
  color: #313131;
  text-transform: uppercase;
}
.invitation__content .text .accent {
  font-family: "Merriweather-Bold";
  font-weight: 700;
  color: #F54932;
}
.invitation__content .line-1 {
  display: flex;
  gap: 64px;
  align-items: center;
}
.invitation__content .line-1 .invitation_pic1_1 {
  content: url("/img/invitation_pic1.png");
  width: 335px;
  margin: 24px 0;
  display: none;
}
.invitation__content .line-1 .invitation_pic1_2 {
  content: url("/img/invitation_pic1.png");
  width: 394px;
}
.invitation__content .line-2 {
  display: flex;
  align-items: flex-start;
  padding-top: 65px;
}
.invitation__content .line-2 .invitation_pic2 {
  position: relative;
  flex: 1 0 42.4%;
  line-height: 0;
}
.invitation__content .line-2 .invitation_pic2::after {
  content: "";
  position: absolute;
  top: -29px;
  left: -29px;
  width: 103%;
  height: calc(100% + 29px);
  background: url("/img/invitation_pic2_pattern.png") no-repeat center/cover;
  mix-blend-mode: color-burn;
}
.invitation__content .line-2 .invitation_pic2 img {
  width: 103%;
  margin-top: -29px;
  margin-left: -29px;
}
.invitation__content .line-2 .table {
  margin-top: 60px;
}
.invitation__content .line-2 .table .row {
  display: flex;
}
.invitation__content .line-2 .table .row:not(:last-child) {
  border-bottom: 2px solid #D0D0D0;
}
.invitation__content .line-2 .table .row:first-child .cell {
  padding-top: 0;
}
.invitation__content .line-2 .table .row:last-child .cell {
  padding-bottom: 0;
}
.invitation__content .line-2 .table .row .cell {
  padding: 16px 16px 15px 0;
  font-size: 20px;
  line-height: 1.2;
  color: #313131;
}
.invitation__content .line-2 .table .row .cell:first-child {
  flex-basis: 307px;
  border-right: 2px solid #D0D0D0;
  font-family: "GolosText-Regular", sans-serif;
  font-weight: 400;
  opacity: 0.7;
}
.invitation__content .line-2 .table .row .cell:last-child {
  padding-left: 15px;
  font-family: "GolosText-Bold", sans-serif;
  font-weight: 700;
}
.invitation__content .line-2 .table .row .cell .through {
  text-decoration: line-through;
  text-decoration-color: #F54932;
}
.invitation__content .line-2 .contact {
  margin: 47px 0 0;
  font-family: "GolosText-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #3057A2;
}
@media (max-width: 1280px) {
  .invitation__content .line-2 .table {
    margin-top: 44px;
  }
  .invitation__content .line-2 .table .row {
    flex-wrap: wrap;
  }
  .invitation__content .line-2 .table .row:not(:last-child) {
    margin-bottom: 17px;
  }
  .invitation__content .line-2 .table .row:last-child .cell {
    padding-bottom: 13px;
  }
  .invitation__content .line-2 .table .row .cell {
    padding: 0 12px 13px 0;
  }
  .invitation__content .line-2 .table .row .cell:first-child {
    flex-basis: auto;
    border-right: none;
  }
  .invitation__content .line-2 .table .row .cell:last-child {
    padding-left: 0;
  }
  .invitation__content .line-2 .contact {
    margin-top: 25px;
  }
}
@media (max-width: 1024px) {
  .invitation .invitation__content .text {
    font-size: 28px;
  }
  .invitation .invitation__content .line-1 {
    gap: 20px;
  }
  .invitation .invitation__content .line-1 .invitation_pic1_2 {
    width: 335px;
  }
}
@media (max-width: 768px) {
  .invitation .invitation__content .line-1 {
    padding-top: 50px;
  }
  .invitation .invitation__content .line-1 .lecture {
    display: flex;
    flex-direction: column;
  }
  .invitation .invitation__content .line-1 .invitation_pic1_1 {
    display: block;
    align-self: center;
  }
  .invitation .invitation__content .line-1 .invitation_pic1_2 {
    display: none;
  }
  .invitation .invitation__content .line-2 {
    flex-direction: column;
    gap: 0;
    padding-top: 0;
  }
  .invitation .invitation__content .line-2 .invitation_pic2 {
    align-self: center;
    max-width: 335px;
    margin: 32px 0 19px;
  }
  .invitation .invitation__content .line-2 .invitation_pic2::after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .invitation .invitation__content .line-2 .invitation_pic2 img {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
  }
}
@media (max-width: 376px) {
  .invitation .invitation__content .line-2 .invitation_pic2::after {
    width: 111%;
    height: 100%;
    top: 0px;
    left: -20px;
  }
  .invitation .invitation__content .line-2 .invitation_pic2 img {
    width: 111%;
    margin-top: 0px;
    margin-left: -20px;
  }
  .invitation .invitation__content .line-2 .text {
    margin-top: 10px;
  }
  .invitation .invitation__content .line-2 .contact {
    font-size: 18px;
  }
}

.stages {
  padding: 84px 0px;
}
.stages .heading {
  max-width: 806px;
}
.stages .heading h2 {
  display: inline;
}
.stages .heading span {
  display: inline-block;
  max-width: 280px;
  margin-left: 16px;
  font-family: "GolosText-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #3057A2;
}
.stages__content ol {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  counter-reset: item;
  list-style: none;
  padding: 0;
  margin-top: 55px;
}
.stages__content ol li {
  position: relative;
  padding: 20px 21px 20px 72px;
  background: url("/img/pattern.png");
  font-family: "GolosText-Medium", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #313131;
}
.stages__content ol li:nth-child(3) {
  grid-row: 1/3;
  grid-column: 3/4;
}
.stages__content ol li:nth-child(7) {
  grid-row: 3/4;
  grid-column: 2/4;
  padding-right: 40%;
}
.stages__content ol li::before {
  content: counter(item);
  counter-increment: item;
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 20px;
  width: 36px;
  height: 36px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "GolosText-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

@media (max-width: 1280px) {
  .stages__view {
    max-width: 750px;
    overflow: hidden;
  }
  .stages__content ol {
    height: 300px;
    grid-auto-flow: column;
    grid-template-columns: repeat(5, 100%);
    grid-template-rows: auto 1fr;
    row-gap: 0px;
  }
  .stages__content ol li:nth-child(3), .stages__content ol li:nth-child(6), .stages__content ol li:nth-child(7) {
    grid-row: 1/3;
    grid-column: auto;
  }
  .stages__content ol li:nth-child(1), .stages__content ol li:nth-child(3), .stages__content ol li:nth-child(4), .stages__content ol li:nth-child(6), .stages__content ol li:nth-child(7) {
    padding: 62px 20px 0px 72px;
  }
  .stages__content ol li:nth-child(1)::before, .stages__content ol li:nth-child(3)::before, .stages__content ol li:nth-child(4)::before, .stages__content ol li:nth-child(6)::before, .stages__content ol li:nth-child(7)::before {
    top: 62px;
  }
  .stages__content ol li:nth-child(2), .stages__content ol li:nth-child(5) {
    padding: 30px 20px 0px 72px;
  }
  .stages__content ol li:nth-child(2)::before, .stages__content ol li:nth-child(5)::before {
    top: 30px;
  }
}
@media (max-width: 768px) {
  .stages .heading h2 {
    display: block;
  }
  .stages .heading span {
    margin-left: 0;
    margin-top: 12px;
    max-width: none;
  }
}
@media (max-width: 425px) {
  .stages {
    padding: 22px 0;
  }
  .stages .heading span {
    font-size: 18px;
  }
  .stages__content ol li {
    font-size: 18px;
  }
}
@font-face {
  font-family: "GolosText-Bold";
  src: url() format("woff2"), url("/fonts/GolosText-Bold.woff") format("woff");
}
@font-face {
  font-family: "GolosText-SemiBold";
  src: url() format("woff2"), url("/fonts/GolosText-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "GolosText-Medium";
  src: url() format("woff2"), url("/fonts/GolosText-Medium.woff") format("woff");
}
@font-face {
  font-family: "GolosText-Regular";
  src: url() format("woff2"), url("/fonts/GolosText-Regular.woff") format("woff");
}
@font-face {
  font-family: "Merriweather-Bold";
  src: url() format("woff2"), url("/fonts/Merriweather-Bold.woff") format("woff");
}
@font-face {
  font-family: "Merriweather-Regular";
  src: url() format("woff2"), url("/fonts/Merriweather-Regular.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "GolosText-Regular";
  font-weight: 400;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1366px;
  margin: 0px auto;
  padding: 0px 72px;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  padding: 26px 0;
}
.header .logo {
  width: 245px;
}

.marquee {
  width: 100%;
  padding: 18px 0;
  background: #F54932;
  overflow: hidden;
}
.marquee__content {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  animation: marquee 12s linear infinite;
}
.marquee__content span {
  position: relative;
  padding-right: 30px;
  font-family: "Merriweather-Regular", serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.1;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
}
.marquee__content span::after {
  content: "⦁";
  position: absolute;
  top: -2px;
  right: 12px;
}

h2 {
  margin: 0;
  font-family: "Merriweather-Regular", serif;
  font-weight: 400;
  font-size: 54px;
  line-height: 1.2;
  color: #313131;
  text-transform: uppercase;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
  .marquee {
    padding: 10px 0;
  }
  .marquee__content span {
    font-size: 16px;
  }
  h2 {
    font-size: 40px;
  }
}
@media (max-width: 640px) {
  .header {
    padding: 18px 0;
  }
  .header .logo {
    width: 213px;
  }
}
@media (max-width: 425px) {
  h2 {
    font-size: 36px;
    line-height: 1.1;
  }
}/*# sourceMappingURL=style.css.map */