@import 'normalize.css';
@import '_variables.scss';
@import '_intro.scss';
@import '_invitation.scss';

@font-face {
    font-family: "GolosText-Bold";
    src: url() format("woff2"), url("/fonts/GolosText-Bold.woff") format("woff");
}

@font-face {
    font-family: "GolosText-SemiBold";
    src: url() format("woff2"), url("/fonts/GolosText-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "GolosText-Medium";
    src: url() format("woff2"), url("/fonts/GolosText-Medium.woff") format("woff");
}

@font-face {
    font-family: "GolosText-Regular";
    src: url() format("woff2"), url("/fonts/GolosText-Regular.woff") format("woff");
}


@font-face {
    font-family: "Merriweather-Bold";
    src: url() format("woff2"), url("/fonts/Merriweather-Bold.woff") format("woff");
}

@font-face {
    font-family: "Merriweather-Regular";
    src: url() format("woff2"), url("/fonts/Merriweather-Regular.woff") format("woff");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "GolosText-Regular";
    font-weight: 400;
}

a {
    color: currentColor;
    text-decoration: none;
}

.container {
    max-width: 1366px;
    margin: 0px auto;
    padding: 0px 72px;
}

.header {
    position: absolute;
    left: 0;
    right: 0;
    padding: 26px 0;

    .logo {
        width: 245px;
    }
}

.marquee {
    width: 100vw;
    padding: 18px 0;
    background: $primary-accent;
    overflow: hidden;

    &__content {
        display: flex;
        width: fit-content;
        animation: marquee 12s linear infinite;   
    
        span {
            position: relative;
            padding-right: 30px;
            font-family: "Merriweather-Regular", serif;
            font-weight: 400;
            font-size: 22px;
            line-height: 1.1;
            color: #ffffff;
            text-transform: uppercase;
            white-space: nowrap;

            &::after {
                content:"\2981";
                position: absolute;
                top: -2px;
                right: 12px;
            }
        }
    }
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

@media (max-width: $md) {
    .container {
        padding: 0 20px;
    }

    .marquee {
        padding: 10px 0;

        &__content {
            span {
                font-size: 16px;
            }
        }
    }
}

@media (max-width: $sm) {

    .header {
        padding: 18px 0;

        .logo {
            width: 213px;
        }
    }
}