@import 'normalize.css';
@import '_variables.scss';
@import '_intro.scss';

@font-face {
    font-family: "GolosText-Bold";
    src: url() format("woff2"), url("/fonts/GolosText-Bold.woff") format("woff");
}

@font-face {
    font-family: "GolosText-SemiBold";
    src: url() format("woff2"), url("/fonts/GolosText-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "GolosText-Medium";
    src: url() format("woff2"), url("/fonts/GolosText-Medium.woff") format("woff");
}

@font-face {
    font-family: "GolosText-Regular";
    src: url() format("woff2"), url("/fonts/GolosText-Regular.woff") format("woff");
}


@font-face {
    font-family: "Merriweather-Bold";
    src: url() format("woff2"), url("/fonts/Merriweather-Bold.woff") format("woff");
}

@font-face {
    font-family: "Merriweather-Regular";
    src: url() format("woff2"), url("/fonts/Merriweather-Regular.woff") format("woff");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "GolosText-Regular";
    font-weight: 400;
}

a {
    color: currentColor;
    text-decoration: none;
}

.container {
    max-width: 1366px;
    margin: 0px auto;
    padding: 0px 72px;
}

.header {
    position: absolute;
    left: 0;
    right: 0;
    padding: 26px 0;

    .logo {
        width: 245px;
    }
}

@media (max-width: $md) {
    .container {
        padding: 0 20px;
    }
}

@media (max-width: $sm) {

    .header {
        padding: 18px 0;
        
        .logo {
            width: 213px;
        }
    }
}