.invitation {
    padding: 80px 0px 100px;

    &__content {
        .text {
            font-family: "Merriweather-Regular", sans-serif;
            font-weight: 400;
            font-size: 36px;
            line-height: 1.35;
            color: $main-text;
            text-transform: uppercase;

            .accent {
                font-family: "Merriweather-Bold";
                font-weight: 700;
                color: $primary-accent;
            }
        }
        
        .line-1 {
            display: flex;
            gap: 64px;
            align-items: center;
            
            .invitation_pic1_1 {
                content: url("img/invitation_pic1.png");
                width: 335px;
                margin: 24px 0;
                display: none;
            }

            .invitation_pic1_2 {
                content: url("img/invitation_pic1.png");
                width: 394px;
            }
        } 

        .line-2 {
            display: flex;
            align-items: flex-start;
            padding-top: 65px;
            
            .invitation_pic2 {
                position: relative;
                flex: 1 0 42.4%;
                line-height: 0;

                &::after {
                    content: '';
                    position: absolute;
                    top: -29px;
                    left: -29px;
                    width: 103%;
                    height: calc(100% + 29px);
                    background: url('img/invitation_pic2_pattern.png') no-repeat center / cover;
                    mix-blend-mode: color-burn;
                }

                img {
                    width: 103%;
                    margin-top: -29px;
                    margin-left: -29px;
                }
            }

            .table {
                margin-top: 60px;

                .row {
                    display: flex;

                    &:not(:last-child){
                        border-bottom: 2px solid $table-border;
                    }
                    
                    &:first-child {
                        .cell {
                            padding-top: 0;
                        }
                    }

                    &:last-child {
                        .cell {
                            padding-bottom: 0;
                        }
                    }

                    .cell {
                        padding: 15px 16px 15px 0;
                        font-size: 20px;
                        line-height: 1.2;
                        color: $main-text;

                        &:first-child {
                            flex-basis: 307px;
                            border-right: 2px solid $table-border;
                            font-family: "GolosText-Regular", sans-serif;
                            font-weight: 400;
                            opacity: .7;
                        }

                        &:last-child {
                            padding-left: 15px;
                            font-family: "GolosText-Bold", sans-serif;
                            font-weight: 700;  
                        }

                        .through {
                            text-decoration: line-through;
                            text-decoration-color: $primary-accent;
                        }
                    }
                }
            }

            .contact {
                margin: 47px 0 0;
                font-family: 'GolosText-Regular', sans-serif;
                font-weight: 400;
                font-size: 20px;
                line-height: 1.2;
                color: $secondary-accent;
            }
        }
    }
}

@media (max-width: $xl) {
    .invitation {
        &__content {
            .line-2 {  
                .table {
                    margin-top: 44px;
    
                    .row {
                        flex-wrap: wrap;
    
                        &:not(:last-child) {
                            margin-bottom: 17px;
                        }
    
                        &:last-child {
                            .cell {
                                padding-bottom: 13px;
                            }  
                        }
                        
                        .cell {
                            padding: 0 12px 13px 0;
                            
                            &:first-child {
                                flex-basis: auto;
                                border-right: none;
                            }
    
                            &:last-child {
                                padding-left: 0;
                            }
                        }
                    }
                }
    
                .contact {
                    margin-top: 25px;
                }
            }
        }
    }
}

@media (max-width: $lg) {
    .invitation {
        &__content {

            .text {
                font-size: 28px;
            }
    
            .line-1 {
                gap: 20px;
    
                .invitation_pic1_2 {
                    width: 335px;
                }
            }
        }
    }
}

@media (max-width: $md) {
    .invitation {
        padding: 0px 0px 100px;
        &__content {
            .line-1 {
                padding-top: 50px;
    
                .lecture {
                    display: flex;
                    flex-direction: column;
                }
    
                .invitation_pic1_1 {
                    display: block;
                    align-self: center;
                }  
    
                .invitation_pic1_2 {
                    display: none;
                }    
            }
    
            .line-2 {
                flex-direction: column;
                gap: 0;
                padding-top: 0;
    
                .invitation_pic2 {
                    align-self: center;
                    max-width: 335px;
                    margin: 32px 0 19px;
    
                    &::after {
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                    }
    
                    img {
                        width: 100%;
                        margin-top: 0;
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: $xxs) {
    .invitation {
        &__content {
            .line-2 {
                .invitation_pic2 {
                    &::after {
                        width: 111%;
                        height: 100%;
                        top: 0px;
                        left:  -20px;
                    }
    
                    img {
                        width: 111%;
                        margin-top: 0px;
                        margin-left: -20px;
                    }
                }
    
                .text {
                    margin-top: 10px;
                }
    
                .contact {
                    font-size: 18px;
                }
            }
        }
    }
}