@import 'normalize.css';
@import '_variables.scss';
@import '_intro.scss';
@import '_invitation.scss';
@import '_stages.scss';
@import '_members.scss';

@font-face {
    font-family: "GolosText-Bold";
    src: url("fonts/GolosText-Bold.woff2") format("woff2"), url("fonts/GolosText-Bold.woff") format("woff");
}

@font-face {
    font-family: "GolosText-SemiBold";
    src: url("fonts/GolosText-SemiBold.woff2") format("woff2"), url("fonts/GolosText-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "GolosText-Medium";
    src: url("fonts/GolosText-Medium.woff2") format("woff2"), url("fonts/GolosText-Medium.woff") format("woff");
}

@font-face {
    font-family: "GolosText-Regular";
    src: url("fonts/GolosText-Regular.woff2") format("woff2"), url("fonts/GolosText-Regular.woff") format("woff");
}


@font-face {
    font-family: "Merriweather-Bold";
    src: url("fonts/Merriweather-Bold.woff2") format("woff2"), url("fonts/Merriweather-Bold.woff") format("woff");
}

@font-face {
    font-family: "Merriweather-Regular";
    src: url("fonts/Merriweather-Regular.woff2") format("woff2"), url("fonts/Merriweather-Regular.woff") format("woff");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "GolosText-Regular";
    font-weight: 400;
}

a {
    color: currentColor;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1366px;
    margin: 0px auto;
    padding: 0px 72px;
}

.header {
    position: absolute;
    left: 0;
    right: 0;
    padding: 26px 0;

    .logo {
        width: 245px;
    }
}

.footer {
    padding: 26px 0 72px;
    background: $light-bg;

    p {
        padding: 0;
        font-family: "GolosText-Regular", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        color: rgba($color: $main-text, $alpha: .6);
    }
}

.marquee {
    width: 100%;
    padding: 18px 0;
    background: $primary-accent;
    overflow: hidden;

    &__content {
        display: flex;
        width: fit-content;
        animation: marquee 12s linear infinite;   
    
        span {
            position: relative;
            padding-right: 30px;
            font-family: "Merriweather-Regular", serif;
            font-weight: 400;
            font-size: 22px;
            line-height: 1.1;
            color: #ffffff;
            text-transform: uppercase;
            white-space: nowrap;

            &::after {
                content:"\2981";
                position: absolute;
                top: -2px;
                right: 12px;
            }
        }
    }
}

h2 {
    margin: 0;
    font-family: "Merriweather-Regular", serif;
    font-weight: 400;
    font-size: 54px;
    line-height: 1.2;
    color: $main-text;
    text-transform: uppercase;
}

.handler {
    display: flex;
    align-items: center;

    .btn {
        position: relative;
        display: inline-block;
        width: 44px;
        height: 44px;
        background: $main-text;
        border-radius: 50%;
        transition: all .3s ease-in-out;
        cursor: pointer;

        &.btn-next {
            transform: rotate(180deg);
        }

        &.inactive {
            pointer-events: none;
            background: $inactive-color;
        }

        &::before {
            content: "";
            width: 14px;
            height: 14px;
            border-left: 2px solid #ffffff;
            border-top: 2px solid #ffffff;
            position: absolute;
            left: 17px;
            top: 15px;
            transform: rotate(-45deg);
        }

        &:hover {
            background: $hover-accent;
        }
    }
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

@media (max-width: $lg) {
    .handler {
        .btn {
            width: 36px;
            height: 36px;

            &::before {
                width: 12px;
                height: 12px;
                left: 14px;
                top: 12px;
            }
        }
    }   
}

@media (max-width: $md) {
    .container {
        padding: 0 20px;
    }

    .marquee {
        padding: 10px 0;

        &__content {
            span {
                font-size: 16px;
            }
        }
    }

    h2 {
        font-size: 40px;
    }
}

@media (max-width: $sm) {

    .header {
        padding: 18px 0;

        .logo {
            width: 213px;
        }
    }
}

@media (max-width: $xs) {

    h2 {
        font-size: 36px;
        line-height: 1.1;
    }
}